{% extends 'base.html' %}

{% block title %}
    Rooms
{% endblock title %}

{% block content %}

<style>
    .container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="container">

    <div class="browse-topics-contianer">
        <h2>Browse Topics</h2>
        <a href="{% url 'main:rooms' %}">All</a>
        {% for topic in topics %}
        <p><a href="{% url 'main:rooms' %}?q={{topic.name}}">{{topic.name}}</a></p>
        {% endfor %}
        <a href="">More</a>
    </div>

    <div class="body-contianer">

        <div class="user-profile-container">
            {% if user.profile_picture %}
            <img src="{{user.profile_picture.url}}" width="80px" alt="">
            {% else  %}
                <p>No profile picture added yet!</p>
            {% endif %}
            
            {% if request.user != user %}
                <p>{{user.first_name}} {{user.last_name}}</p>
                <p>@{{user.username}}</p>
                {% else %} 
                <p>{{user.first_name}} {{user.last_name}}</p>
                <p>@{{user.username}}</p>
                <p>{{user.email}}</p>
                <p>{{user.age}}</p>
                <p>{{user.phone}}</p>
                <a href="{% url 'accounts:update-profile' user.id %}">Edit Profile</a>
            {% endif %}
        </div>

        <div class="rooms-container">
                    <h2>Available Study Rooms ({{rooms.count}})</h2>
        {% for room in rooms %}
        <h4><a href="{% url 'main:room' room.id %}">{{room.name}}</a></h4>
        <ul>
            <li>Topic: {{room.topic.name}}</li>
            <li>Description: {{room.description}}</li>
            <li>Host: {{room.host.username}}</li>
            <li>Time Created: {{room.created_at|timesince}} age</li>
        </ul>
        <hr>
        {% endfor %}
        </div>
    </div>

    <div class="recent-activity-acontainer">
        <h2>Recent Activity</h2>
            {% for message in recent_activity_messages %}
                <p><a href="">{{message.user.username}}</a> {{message.created_at|timesince}} ago</p>
                <p>{{message}}</p>
                <p>replying to "<b>{{message.room}}</b>" room</p>
                {% if request.user == message.user %}
                    <a href="{% url 'main:update-message' message.id %}">Update</a> |
                    <a href="{% url 'main:delete-message' message.id %}">Delete</a>
                {% endif %}
                <hr>
            {% endfor %}
    </div>
    
</div>
{% endblock content %}