{% extends 'base.html' %}

{% block title %}
    Rooms
{% endblock title %}

{% block content %}

<style>
    .container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="container">

    <div class="browse-topics-contianer">
        <h2>Browse Topics</h2>
        <a href="{% url 'main:rooms' %}">All</a>
        {% for topic in topics %}
        <p><a href="{% url 'main:rooms' %}?q={{topic.name}}">{{topic.name}}</a> ({{topic.topic_rooms.all.count}})</p>
        {% endfor %}
        <a href="{% url 'main:browse-topics' %}">More</a>
    </div>

    <div class="rooms-contianer">
        <h2>Available Study Rooms ({{rooms.count}})</h2>
        <p><a href="{% url 'main:create-room' %}">+ Create Room</a></p>
        {% for room in rooms %}
        <h4><a href="{% url 'main:room' room.id %}">{{room.name}}</a></h4>
        <ul>
            <li>Topic: {{room.topic.name}}</li>
            <li>Description: {{room.description}}</li>
            <li>Host: <a href="{% url 'accounts:profile' room.host.id %}">{{room.host.username}}</a></li>
            <li>Time Created: {{room.created_at|timesince}} age</li>
        </ul>
        <hr>
        {% endfor %}
    </div>

    <div class="recent-activity-acontainer">
        <h2>Recent Activity</h2>
            {% for message in recent_activity_messages %}
                <p><a href="">{{message.user.username}}</a> {{message.created_at|timesince}} ago</p>
                <p>{{message}}</p>
                <p>replying to "<b>{{message.room}}</b>" room</p>
                {% if request.user == message.user %}
                    <a href="{% url 'main:update-message' message.id %}">Update</a> |
                    <a href="{% url 'main:delete-message' message.id %}">Delete</a>
                {% endif %}
                <hr>
            {% endfor %}
    </div>
    
</div>
{% endblock content %}